<blockquote id="{{ comment.id }}" class="comment-block">
  <cite>
    <strong>
      {% if comment.author.url and comment.author.url!="" and comment.author.name and comment.author.name!="" %}
        <a href="{{ comment.author.url }}" rel="nofollow">
          {{ comment.author.name | xml_escape }}
        </a>
      {% else %}
        {% if comment.author.name and comment.author.name!="" %}
          {{ comment.author.name | xml_escape }}
        {% else %}
          Anonymous
        {% endif %}
      {% endif %}
    </strong>
    &ndash;
    <span class="muted" title="{{ comment.date | date_to_rfc822 }}">
      {{ comment.date | date: "%Y-%m-%d %H:%M" }}
    </span>
  </cite>
  <div class="comment-body">{{ comment.content | markdownify }}</div>
</blockquote>