{% if comment.author.name %}
<a href="{{ comment.author.url }}" rel="nofollow">
  {{ comment.author.name | xml_escape }}"
</a>
{% else %}
{{ comment.author.name | xml_escape }}"
{% endif %}

<blockquote id="{{ comment.id }}">
  <div class="comment-body">{{ comment.content | markdownify }}</div>
  <cite>
    {% if comment.author.url %}
      <a href="{{ comment.author.url }}" rel="nofollow">{{ comment.author.name | xml_escape }}</a>
    {% else %}
      {{ comment.author.name | xml_escape }}
    {% endif %}
    &ndash;
    <span class="muted" title="{{ comment.date | date_to_rfc822 }}">
      {{ comment.date | date: '%B' }}
      {% assign d = comment.date | date: "%-d" %}
      {% case d %}
        {% when '1' or '21' or '31' %}{{d}}st,
        {% when '2' or '22' %}{{d}}nd,
        {% when '3' or '23' %}{{d}}rd,
        {% else %}{{d}}th,
      {% endcase %}
      {{ comment.date | date: '%Y' }}
    </span>
  </cite>
</blockquote>