{% capture default_slug %}{{ page.slug | default: (page.title | slugify) }}{% endcapture %}
{% capture slug %}{{ (page.slug | fallback: default_slug) | downcase | replace: '.', '-' | replace: '_' : '-' }}{% endcapture %}
{% assign comments_map = site.data.comments[slug] %}
{% assign comments = site.emptyArray %}
{% for comment in comments_map %}
  {% assign comments = comments | push: comment[1] %}
{% endfor %}
{% assign comment_count = comments | size %}
{% if comment_count > 0 %}
  {% assign author = site.authors[page.author] %}
<div id="comments">
  <h3>{% if comment_count == 1 %}One response{% else %}{{ comment_count }} responses{% endif %}</h3>
  <ol>
  {% assign sorted_comments = comments | sort: 'date' %}
  {% for comment in sorted_comments %}
    <li{% if comment.email == author.email %} class="byauthor" {% endif %}>
      {% include comment.html %}
    </li>
  {% endfor %}
  </ol>
</div>
{% endif %}
{% if page.commenting == 'open' %}
{% include comment-new.html %}
{% endif %}

<h2>Comments Debug</h2>

{% assign pathParts = page.path | split("/") %}
{% assign postNameParts = pathParts[3] | split(".") %}
{% assign comments = site.data[pathParts[1]][pathParts[2]][postNameParts[1]] %}
<p>Year:  {{ pathParts[1] }}</p>
<p>Month:  {{ pathParts[2] }}</p>
<p>Name:  {{ postNameParts[1] }}</p>

<p>Comments:  {{ comments }}</p>

{% for comment in comments %}
  <p>Comment:  {{ comment }}</p>
  <p>Author:  {{ comment.author }}</p>
  <p>Author's name:  {{ comment.author.name }}</p>
{% endfor %}

<p>default_slug:  {{ default_slug }}</p>
<p>slug:  {{ slug }}</p>
<p>page.id:  {{ page.id }}</p>
<p>page.name:  {{ page.name }}</p>
<p>page.dir:  {{ page.dir }}</p>
<p>page.path:  {{ page.path }}</p>
<p>Test value:  {{ site.data["2010"]["6"]["2010-06-02-departmental-application-migration-to-azure-part-1"]["8"].author.name }}</p>
