{% capture default_slug %}{{ page.slug | default: (page.title | slugify) }}{% endcapture %}
{% capture slug %}{{ (page.slug | fallback: default_slug) | downcase | replace: '.', '-' | replace: '_' : '-' }}{% endcapture %}
{% assign comments_map = site.data.comments[slug] %}
{% assign comments = site.emptyArray %}
{% for comment in comments_map %}
  {% assign comments = comments | push: comment[1] %}
{% endfor %}
{% assign comment_count = comments | size %}
{% if comment_count > 0 %}
  {% assign author = site.authors[page.author] %}
<div id="comments">
  <h3>{% if comment_count == 1 %}One response{% else %}{{ comment_count }} responses{% endif %}</h3>
  <ol>
  {% assign sorted_comments = comments | sort: 'date' %}
  {% for comment in sorted_comments %}
    <li{% if comment.email == author.email %} class="byauthor" {% endif %}>
      {% include comment.html %}
    </li>
  {% endfor %}
  </ol>
</div>
{% endif %}
{% if page.commenting == 'open' %}
{% include comment-new.html %}
{% endif %}

<h2>Comments Debug</h2>

{% assign pathParts = page.path | split: "/" %}
{% assign year = pathParts[1] %}
{% assign month = pathParts[2] %}
{% assign postNameParts = pathParts[3] | split: "." %}
{% assign postName = postNameParts[0] %}
{% assign comments = site.data[year][month][postName].comments %}

<p>Year ({{ year }}) size:  {{ site.data[year] | size }}</p>
<p>Month ({{ month }}) size:  {{ site.data[year][month] | size }}</p>
<p>Month () size:  {{ (site.data[year])[month] | size }}</p>
<p>Name ({{ postName }}) size:  {{ site.data[year][month][postName] | size }}</p>
<p>Comments size:  {{ comments | size }}</p>

{% for comment in comments %}
  {% assign oneComment = comment[1] %}
  <p>Comment:  {{ oneComment }}</p>
  <p>Id:  {{ oneComment.id }}</p>
  <p>Date:  {{ oneComment.date }}</p>
  <p>Author:  {{ oneComment.author }}</p>
  <p>Author's name:  {{ oneComment.author.name }}</p>
  <p>Content:  {{ oneComment.content }}</p>
  <p>---</p>
{% endfor %}

