<hr>

{% assign pagePathParts = page.path | split: "/" %}
{% assign year = pagePathParts[1] %}
{% assign yearInteger = year | to_integer %}
{% assign month = pagePathParts[2] %}
{% assign monthInteger = month | to_integer %}
{% assign postNameParts = pagePathParts[3] | split: "." %}
{% assign postName = postNameParts[0] %}
{% if yearInteger<10 %}
  {% assign year = year | preprend:  "0" %}
{% endif %}
{% if monthInteger<10 %}
  {% assign month = month | preprend:  "0" %}
{% endif %}
{% assign commentFiles = site.data[year][month][postName].comments %}

{% assign comments = site.emptyArray %}
{% for comment in commentFiles %}
  {% assign comments = comments | push: comment[1] %}
{% endfor %}
{% assign commentCount = comments | size %}

{% if commentCount > 0 %}
  {% assign author = site.authors[page.author] %}
<div id="comments">
  <h3>{% if commentCount == 1 %}One response{% else %}{{ commentCount }} responses{% endif %}</h3>
  <ol>
  {% assign sortedComments = comments | sort: 'date' %}
  {% for comment in sortedComments %}
    <li{% if author.url != "" %} class="byauthor" {% endif %}>
      {% include comment.html %}
    </li>
  {% endfor %}
  </ol>
</div>
{% endif %}
{% if page.commenting != 'closed' %}
{% include comment-new.html %}
{% endif %}
