nav-footer:  begin
{% if site.navigation_footer %}
if-nav-footer:  begin
<nav class="nav  nav--footer">
  <ul class="list list--nav">
    {% for item in site.navigation_footer %}

      {% if item.url contains '://' %}
        {% assign url = item.url %}
      {% else %}
        {% assign url = item.url | relative_url %}
      {% endif %}

      <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
        <a href="{{ url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
if-nav-footer:  end
{% else %}
if-not-nav-footer:  begin
  {% include nav-default.html %}
if-not-nav-footer:  end
{% endif %}
nav-footer:  end