---
title: false
styles: true
---

@import "alembic";

/*  Remove the numbers on comment list  */
#comments li::before {
    display: none;
}

.comment-block {
    border-left-color:  blue;
    border-left:  6px;
    background-color: lightgray;
}

.comment-block a {
    text-shadow: none;
}