---
title: false
styles: true
---

@import "alembic";

/*  Remove the numbers on comment list  */	
#comments li::before {	
    display: none;	
}	

/*  Style comments  */	
.comment-block {	
    border-top:  6px;	
    border-top-color:  blueviolet;	
    border-top-style: solid;	
    margin-top: 6px;	

    background-color: lightgray;	
}	

.comment-block a {	
    text-shadow: none !important;	
}	

/*  Style markup tables  */	
table	
{	
    margin-bottom: 10px !important;	
    border-collapse:collapse;	
    width:20%;	
    color:black;	
}	

table,th,td	
{	
    border:2px solid lightgray;	
}	

thead	
{	
  background: lightgreen;	
}	

tbody tr:nth-child(even)	
{	
  background: whitesmoke;	
}
