---
title: false
styles: true
---

@import "alembic";

/*  Remove the numbers on comment list  */
#comments li::before {
    display: none;
}

.comment-block {
    border-top-color:  blue;
    border-top:  6px;
    border-top-style: solid;
    margin-top: 6px;
    border-bottom-color:  blue;
    border-bottom:  6px;
    border-bottom-style: solid;
    margin-bottom: 6px;

    background-color: lightgray;
}

.comment-block a {
    text-shadow: none !important;
}