---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--post  content  typeset">

    <form action="/search">
      <input id="search-box" type="search" class="search-field" placeholder="Search..." value="" name="query">
    </form>

    <h1>{{ page.title }}</h1>
    {% include post-meta.html %}
    {{ content }}
    {% include comment-list.html %}

    {% include nav-share.html %}

    {% include post-comments.html %}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
